<div class="container service-form show-page">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 mx-auto mb-3">
      <% if @service.errors.any? %>
        <div id="error_explanation">
          <h2><%= @service.errors.count %>件のエラーがあります。</h2>
          <ul>
            <% @service.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="card">
        <h2 class="form-title">
          <% if params[:id] %>
            サービス編集
          <% else %>
            サービス登録
          <% end %>
        </h2>
        <%= form_with model: @service, local: true do |f| %>
          <div class="card-body">
            <div class="row d-flex align-items-center">
              <div class="col-md-3">
                <div class="form-item mb-2">
                
                  <div id="icon_field" onClick="$('#file').click()" >
                    <% if @service.icon.url.present? %>
                      <%= image_tag(@service.icon.url) %>
                    <% end %>
                    <div class="mask">
                      <div class="caption">アイコン</div>
                    </div>
                  </div>
                  <%= f.file_field :icon, class: "icon", style: "display:none;", id: "file" %>
                  <%= f.hidden_field :icon_cache %>
                </div>
              </div>
              <div class="col-xs-12 col-md-9">
                <div class="form-label-group mb-2" id="service-name-box">
                  <%= f.text_field :name, placeholder: "サービス名", required: true, class: "form-control service-name" %>
                </div>
              </div>
            </div>
            <%# .row1 %>

            <div class="row my-3">
              <div class="col-12">
                <div class="form-label-group mb-2">
                  <%= f.text_area :summary ,placeholder: "サービス概要", required: true,class: "form-control" ,rows: 5 %>
                </div>  
              </div>
            </div>
            <%# .row2 %>

            <div class="row mb-2">
              <div class="col-12">
                <div class="form-label-group mb-2">
                  <%= f.text_field :link, placeholder: "関連リンク", required: true,class: "form-control w-100" %> 
                </div>  
              </div>
            </div>
            <%# .row3 %>

            <div class="row">
              <div class="col-12">
                <div class="frame-box mb-2">
                  <span class="frame-title"><%= f.label :category_ids, 'カテゴリー(複数可)' %></span>
                  <p class="check-categories">
                    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name, prompt: true do |l| %>
                      <span class="mx-1"><%= l.label { l.check_box + l.text } %></span>
                    <% end %>
                  </p>
                </div>
              </div>
            </div>
            <%# .row4 %>

            <% if current_user.admin? %>
              <div class="form-label-group my-4">
                <div class="row">
                  <div class="label-notifiy col-md-3 text-center">
                    <span>公開範囲</span>
                  </div>
                  <div class="col-md-4 select-box select-plus">
                    <%= f.select :status, Service.statuses.keys.to_a, {}, class: "form-control" %>
                  </div>
                </div>
              </div>
            <% else %>
              <p class="text-danger ml-3 mt-3">登録したサービスは、他のユーザーには表示されません</p>
            <% end %>

            <div class="row mt-4">
              <div class="col-12">
                <div class="button-panel">
                  <%= f.submit class: "btn btn-lg btn-signin btn-block text-uppercase mt-3" %>
                </div>  
              </div>
            </div>
          </div>
          <%# .card-body %>
        <% end %>
      </div>
      <%# .card %>
    </div>
    <%# .col %>
  </div>
  <%# .row %>
</div>