<div class="row">
  <% if @services.blank? %>
    <p class="ml-5">
      一致する結果はありません。<br><br>
      <span class="h5"><%= link_to "サービス新規登録", new_service_path %>でオリジナルのサービスを登録できます！</span>
      (<span class="text-danger">他のユーザーには公開されません</span>)
    </p>
  <% end %>
  <% @services.each.with_index(1) do |service, i| %>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 mb-3 <%= "using-service" if already_added?(service) %>" id="subscription-<%= service.id %>">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <% if service.icon.present? %>
                <div class="service-icon">
                  <%= image_tag service.icon.url %>
                </div>
              <% else %>
                <div class="no-icon">No-Icon</div>
              <% end %>
            </div>
            <div class="col-md-8">
              <div class="row category">
                <div class="col-md-12">
                  <% service.categories.each do |category|%>
                    <%= link_to category.name, services_path(category_id: category.id), class: "badge badge-primary py-1 px-2" %>
                  <% end %>
                </div>
                <div class="col-md-12">
                  <h5 class="service-title ommision"><%= service.name %></h5>
                </div>
              </div>
            </div>
          </div>
          <%# .row1 %>

          <div class="row mt-4">
            <div class="col-md-5">
              <%= link_to service_path(service) ,remote: true, "data-toggle" => "popover", "data-content" => "詳細",class: "btn btn-info btn-circle detail-info mr-2 service-info-#{i}" do %>
                <%= fa_icon "info" %>
              <% end %>
              <%= link_to service.link, target: :blank, rel: "noopener", "data-toggle" => "popover", "data-content" => "関連リンク", class: "btn btn-link btn-circle detail-info mr-2"  do %>
                <%= fa_icon "link" %>
              <% end %>
            </div>
            <div class="col-md-7 text-right">
              <span class="ml-3">
                <span  data-toggle="popover", data-content="利用者数" class="detail-info mr-2">
                  <%= fa_icon "users" , class: "mr-2 users-count" %>
                  <span id="users-count-<%= service.id %>"><%= service.subscriptions.count %></span>
                </span>
                <span id="subscription-btn-<%= service.id %>">
                  <% if already_added?(service) %>
                    <span id="minus-btn">
                      <%= link_to subscription_path(id: get_subscription_id(current_user, service)), method: :delete,"data-toggle" => "popover", "data-content" => "外す", remote: true, class: "btn btn-light detail-info" do %>
                        <%= fa_icon "minus" %>
                      <% end %>
                    </span>
                  <% else %>
                    <span id="plus-btn">
                      <%= link_to new_subscription_path(service_id: service.id),"data-toggle" => "popover", "data-content" => "追加", remote: true, class: "btn btn-secondary detail-info" do %>
                        <%= fa_icon "plus" %>
                      <% end %>
                    </span>
                  <% end %>
                </span>
              </span>
            </div>
          </div>
          <%# .row2 %>
        </div>
        <%# .card-body %>
      </div>
      <%# .card %>
    </div>
    <%# .col %>
  <% end %>
</div>
<%# .row %>
<div id="subscription-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>