<div class="row">
  <% if @services.blank? %>
    <p>一致する結果はありません</p>
  <% end %>
  <% @services.each do |service| %>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 mb-3">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <% if service.icon.present? %>
                <div class="service-icon">
                  <%= image_tag service.icon.url %>
                </div>
              <% else %>
                <div class="no-icon">No-Icon</div>
              <% end %>
            </div>
            <div class="col-md-8">
              <div class="row category">
                <div class="col-md-12">
                  <% service.categories.each do |category|%>
                    <%= link_to category.name, services_path(category_id: category.id), class: "badge badge-primary py-1 px-2" %>
                  <% end %>
                </div>
                <div class="col-md-12">
                  <h5 class="service-title ommision"><%= service.name %></h5>
                </div>
              </div>
            </div>
          </div>
          <%# .row1 %>
          <div class="row mt-3">
            <div class="col-md-9">
              <%= link_to service_path(service) ,remote: true, "data-toggle" => "popover", "data-content" => "詳細",class: "btn btn-info btn-circle detail-info mr-2" do %>
                <%= fa_icon "info" %>
              <% end %>
              <%= link_to service.link, target: :blank, rel: "noopener", "data-toggle" => "popover", "data-content" => "関連リンク", class: "btn btn-link btn-circle detail-info mr-2"  do %>
                <%= fa_icon "link" %>
              <% end %>
            </div>
            <div class="col-md-3 text-right mt-2">
              <span  data-toggle="popover", data-content="利用者数" class="detail-info">
                <%= fa_icon "users" , class: "mr-2" %><%= service.subscriptions.count %>
              </span>
            </div>
          </div>
          <%# .row2 %>
        </div>
        <%# .card-body %>
      </div>
      <%# .card %>
    </div>
    <%# .col %>
  <% end %>
</div>
<%# .row %>