<div class="container show-page">
  <div class="row mb-5">
    <div class="col-12 mb-3">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="card p-3">
            <button type="button" class="close text-right" data-dismiss="modal" onfocus="this.blur();">&times;</button>
            <div class="card-body">
              <div class="row">
                <div class="col-md-4 ml-3">
                  <% if @service.icon.present? %>
                    <div class="service-icon">
                      <%= image_tag @service.icon.url %>
                    </div>
                  <% else %>
                    <div class="no-icon">No-Icon</div>
                  <% end %>
                </div>
                <div class="col-md-7">
                  <div class="row category">
                    <div class="col-md-12">
                      <% @service.categories.each do |category|%>
                        <span class= "badge badge-primary py-1 px-2"><%= category.name %></span>
                      <% end %>
                    </div>
                    <div class="col-md-12">
                      <h3 class="service-title"><%= @service.name %></h3>
                    </div>
                  </div>
                </div>
              </div>
              <%# .row1 %>

              <div class="row">
                <div class="col-12">
                  <div class="frame-box mb-2">
                    <span class="frame-title">Summary</span>
                    <p><%= @service.summary %></p>
                  </div>
                </div>
              </div>
              <%# .row2 %>

              <div class="row mt-4">
                <div class="col-md-7">
                  <%= link_to services_path ,"data-toggle" => "popover", "data-content" => "一覧へ戻る", class: "btn btn-secondary btn-circle detail-info mr-2" do %>
                    <%= fa_icon "undo" %>
                  <% end %>
                  <%= link_to @service.link, target: :blank, "data-toggle" => "popover", "data-content" => "関連リンク", class: "btn btn-link btn-circle detail-info mr-2"  do %>
                    <%= fa_icon "link" %>
                  <% end %>
                  <% if current_user.admin? || @service.status == "secret" %>
                    <%= link_to edit_service_path(@service) ,class: "btn btn-success btn-circle service-edit mr-2" do %>
                      <%= fa_icon "pencil" %>
                    <% end %>
                    <%= link_to service_path(@service), method: :delete, data: { confirm: '本当に削除してもいいですか?' } ,class: "btn btn-danger btn-circle delete" do %>
                      <%= fa_icon "trash" %>
                    <% end %>
                  <% end %>
                </div>
                <div class="col-md-5 text-right">
                  <span  data-toggle="popover", data-content="利用者数" class="detail-info">
                    <%= fa_icon "users" , class: "mr-2" %><%= @service.subscriptions.count %>
                  </span>
                  <span class="ml-3">
                    <% if already_added?(@service) %>
                      <%= link_to subscription_path(id: get_subscription_id(current_user, @service)), method: :delete,"data-toggle" => "popover", "data-content" => "外す", class: "btn btn-light btn-circle detail-info" do %>
                        <%= fa_icon "minus" %>
                      <% end %>
                    <% else %>
                      <%= link_to new_subscription_path(service_id: @service.id),"data-toggle" => "popover", "data-content" => "追加", class: "btn btn-secondary btn-circle detail-info" do %>
                        <%= fa_icon "plus" %>
                      <% end %>
                    <% end %>
                  </span>
                </div>
              </div>
              <%# .row3 %>
            </div>
            <%# .card-body %>
          </div>
          <%# .card %>
        </div>
        <%# .modal-content %>
      </div>
      <%# .modal-dialog %>
    </div>
    <%# .col %>
  </div>
  <%# .row %>
</div>
<%# .container %>