<div class="container">
  <% if current_user %>
    <%= link_to 'サブスク新規登録', new_service_path, class: "btn btn-new my-3" %>
  <% end %>
  <% if current_user.try(:admin?) %>
    <%= render 'csv' %>
  <% end %>

  <%= render 'category' %>

  <div class="row mb-4 pb-3 border-bottom">
    <%= render 'search' %>
  </div>

  <div class="services">
    <div class="row border-bottom mb-4">
      <div class="col-md-9">
        <%= paginate @services %>
      </div>
      <div class="col-md-3 text-right pt-3">
        <span>表示件数: <%= total_services(@services) %>件</span>
      </div>
    </div>
    <% if current_user %>
      <%= render 'index_with_login' %>
    <% else %>
      <%= render 'index_with_logout' %>
    <% end %>
  </div>
</div>

