<!DOCTYPE html>
<html>
  <head>
    <title>Home | Subsc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
    <div class="top-body">
      <%= render 'layouts/header' %>
      <%= render 'layouts/flash' %>
      <div class="main">
        <%= render 'top/main' %>
      </div>
      <div class="feature" id="feature">
        <%= render 'top/feature' %>
      </div>
      <div class="step" id="step">
        <%= render 'top/step' %>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>

