<div class="container">
  <h2>ユーザー編集画面</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    
    <div class="field">
      <span class="text-danger">*</span>
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name",class: "form-control w-25 mb-2" %>
    </div>

    <div class="field">
      <span class="text-danger">*</span>
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class: "form-control w-25 mb-2" %>
    </div>

    <div class="field mb-2">
      <%= f.label :notification_status %><br />
      <%# 通知頻度を日本語で選べるようにする %>
      <%= f.select :notification_status, User.notification_statuses.keys { |k, v| [t("enums.user.notification_status.#{k}"), v] }, class: "form-control w-25 mb-2" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <span class="text-danger">*</span>
      <%= f.label :current_password %><br />
      <%= f.password_field :current_password, autocomplete: "current-password",class: "form-control w-25 mb-2"  %>
    </div>

    <div class="field">
      <%= f.label :password, "新しいパスワード" %> <i>(変更の場合のみ)</i><br />
      <%= f.password_field :password, autocomplete: "new-password",class: "form-control w-25"  %>
      <% if @minimum_password_length %>
        <small><%= @minimum_password_length %> 文字以上</small>
      <% end %>
    </div>

    <div class="field mt-2">
      <%= f.label :password_confirmation %><i>(変更の場合のみ)</i><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "form-control w-25 mb-2"  %>
    </div>

    <div class="actions">
      <%= f.submit "更新" ,class: "btn btn-primary my-3"%>
    </div>
  <% end %>

  <%# <h5>アカウントの削除</h5> %>

  <p><%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "本当に削除してよろしいですか？ 全てのデータが削除されます" }, method: :delete, class: "btn btn-sm btn-outline-secondary" %></p>

  <%= link_to "戻る", :back , class: "btn btn-light"%>
</div>
