<div class="row">
  <div class="col-sm-9 col-md-7 col-lg-4 mx-auto">
    <div class="card card-signin my-5">
      <div class="card-body">
        <h5 class="card-title text-center">Edit User</h5>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-signin"}) do |f| %>
          <div class="form-label-group">
            <%= f.text_field :name, autofocus: true, autocomplete: "name" ,placeholder: "Name", class: "form-control mb-4" %>
            <%= f.label :name %>
          </div>

          <div class="form-label-group">
            <%= f.email_field :email, autofocus: true, autocomplete: "email" ,placeholder: "Email address", class: "form-control mb-4" %>
            <%= f.label :email %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="form-label-group mb-4">
            <div class="row">
              <div class="col-md-1"></div>
              <div class="label-notifiy col-md-4">
                <span>通知頻度</span>
              </div>
              <div class="col-md-6 select-box select-plus">
                <%= f.select :notification_status, User.notification_statuses_i18n.keys.map { |k| [User.notification_statuses_i18n[k], k]}, class: "form-control" %>
              </div>
            </div>
          </div>

          <div class="form-label-group">
            <%= f.password_field :current_password, autocomplete: "current-password",placeholder: "current_password", class: "form-control mb-4" %>
            <%= f.label :current_password %>
          </div>

          <div class="form-label-group">
            <%= f.password_field :password, autocomplete: "current-password",placeholder: "Password", class: "form-control mb-4" %>
            <%= f.label :password, "新しいパスワード" %>
          </div>

          <div class="form-label-group">
            <%= f.password_field :password_confirmation, autocomplete: "current-password",placeholder: "Password", class: "form-control mb-4" %>
            <%= f.label :password_confirmation %>
          </div>

          <%= f.submit "Update", class: "btn btn-lg btn-info btn-block text-uppercase mt-3" %>
        <% end %>
      </div>
      <div class="card-footer py-4">
        <div class="row">
          <div class="col-md-6">
            <%= button_to "マイページへ戻る", :back ,method: :get, class: "btn btn-outline-secondary btn-back"%>
          </div>
          <div class="col-md-6">
            <%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "本当に削除してよろしいですか？ 全てのデータが削除されます" }, method: :delete, class: "btn btn-sm btn-outline-secondary btn-delete" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>