<div class="row edit-user">
  <div class="col-sm-12 col-md-10 col-lg-6 mx-auto">
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="card card-signin my-5">
      <div class="card-body">
        <h5 class="card-title text-center">ユーザー編集</h5>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <div class="form-label-group">
            <%= f.text_field :name ,placeholder: "ユーザー名", class: "form-control mb-4" %>
          </div>

          <div class="form-label-group">
            <%= f.email_field :email, placeholder: "メールアドレス ", class: "form-control mb-4" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="form-label-group mb-4">
            <div class="row">
              <div class="col-md-1"></div>
              <div class="label-notifiy col-md-4">
                <span>通知頻度</span>
              </div>
              <div class="col-md-6 select-box select-plus">
                <%= f.select :notification_status, User.notification_statuses_i18n.keys.map { |k| [User.notification_statuses_i18n[k], k]}, class: "form-control" %>
              </div>
            </div>
          </div>

          <div class="form-label-group">
            <%= f.password_field :current_password, placeholder: "現在のパスワード", class: "form-control mb-4" %>
          </div>

          <div class="form-label-group">
            <%= f.password_field :password, placeholder: "新しいパスワード", class: "form-control mb-4" %>
          </div>

          <div class="form-label-group">
            <%= f.password_field :password_confirmation, placeholder: "パスワード確認", class: "form-control mb-4" %>
          </div>

          <%= f.submit "Update", class: "btn btn-lg btn-info btn-block text-uppercase mt-3" %>
        <% end %>
      </div>
      <div class="card-footer py-4">
        <div class="row">
          <div class="col-md-6 ml-3">
            <%= link_to user_path(current_user) ,"data-toggle" => "popover", "data-content" => "一覧へ戻る", class: "btn btn-secondary btn-circle detail-info mr-2" do %>
              <%= fa_icon "undo" %>
            <% end %>
          </div>
          <div class="col-md-4">
            <%= button_to registration_path(resource_name),"data-toggle" => "popover", "data-content" => "アカウント削除", data: { confirm: "本当に削除してよろしいですか？ 全てのデータが削除されます" }, method: :delete, class: "btn btn-sm btn-outline-secondary btn-delete detail-info",id: "delete-user" do %>
              <%= fa_icon "user-times" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>