<h1><%= @user.name %>さん</h1>

<h2>合計利用料金：<%= @user.details.map { |detail| detail.charge}.sum %>円</h2>

<h2>利用サブスクリプション一覧</h2>
<div class="card">
  <% @user.details.each do |detail| %>
    <%# どこかで変数定義するかメソッド化する %>
    <% subscription = Subscription.find_by(id: detail.subscription_id) %>
      <div class="card-header">
        <h3>サブスクリプション：<%= subscription.name %></h3>
      </div>
      <div class="card-body">
        <ul>
          <li>利用料金：<%= detail.charge %>円</li>
          <li>支払日：毎月<%= detail.due_date %></li>
        </ul>
      </div> 
  <% end %>
</div>