<h1><%= @user.name %>さん</h1>

<h2>合計利用料金：<%= @user.subscriptions.map { |subscription| subscription.charge}.sum %>円</h2>

<h2>利用サブスクリプション一覧</h2>
<div class="card">
  <% @user.subscriptions.each do |subscription| %>
    <%# どこかで変数定義するかメソッド化する %>
    <% service = Service.find_by(id: subscription.service_id) %>
      <div class="card-header">
        <h3>サブスクリプション：<%= service.name %></h3>
      </div>
      <div class="card-body">
        <ul>
          <li>利用料金：<%= subscription.charge %>円</li>
          <li>支払日：毎月<%= subscription.due_date %></li>
        </ul>
      </div> 
  <% end %>
</div>

<h4><%= link_to "サイトへ", new_user_session_url %></h4>