<div class="row mb-4 pb-3 border-bottom">
  <div class="col-md-6">
    <%= form_tag(user_path, method: 'get',class: "form-inline" ) do %>
      <%= text_field_tag :search ,"",placeholder: "サブスクリプション名",class: "form-control"%>
      <div class="input-group-append">
        <%= submit_tag '検索', :name => nil, class: "btn btn-outline-secondary ml-2" %>
        <%= link_to 'クリア', user_path, class: "btn btn-outline-secondary ml-2" %>
      </div>
    <% end %>
  </div>

  <div class="col-md-6 text-right">
    <%= link_to '名前順', user_path(sort_name: "true"), class: "btn btn-outline-secondary #{params[:sort_name] ? 'disabled' : ''}" %>
    <%= link_to '利用料金順', user_path(sort_charge: "true"), class: "btn btn-outline-secondary ml-2 #{params[:sort_charge] ? 'disabled' : ''}" %>
    <%= link_to '支払日順', user_path(sort_date: "true"), class: "btn btn-outline-secondary ml-2 #{params[:sort_date] ? 'disabled' : ''}" %>
    <%= link_to '未登録のみ', user_path(sort_unregistered: "true"), class: "btn btn-outline-secondary ml-2 #{params[:sort_unregistered] ? 'disabled' : ''}" %>
  </div>
</div>
