<div class="row">
  <% @services.each do |service| %>
    <div class="col-12 mb-3">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-2 img-height">
              <% if service.icon.present? %>
                <%= image_tag service.icon.thumb.url %>
              <% else %>
                No-Icon
              <% end %>
            </div>
            <div class="col-md-4">
              <p>
                <% service.categories.each do |category|%>
                  <span class="badge badge-primary p-1 px-2"><%= category.name %></span>
                <% end %>
              </p>
              <h5 class="service-title"><%= service.name %></h5>
            </div>
            <% subscription = subscription(current_user, service) %>
            <div class="col-md-2">
              <%= subscription.charge %>
            </div>
            <div class="col-md-2">
              <%= subscription.due_date %>日
            </div>
            <div class="col-md-2">
              <%= link_to subscription_path(subscription), class: "btn btn-info mr-2" do %>
                <%= fa_icon "info" %>
              <% end %>
              <%= link_to edit_subscription_path(subscription), class: "btn btn-success mr-2" do %>
                <%= fa_icon "pencil" %>
              <% end %>
              <%= link_to subscription_path(subscription, back_to_mypage: "true"), method: :delete,data: { confirm: '本当に解除してもいいですか?' }, class: "btn btn-danger" do %>
                <%= fa_icon "minus" %>
              <% end %>
            </div>
          </div>
        </div>
        <%# .card-body %>
      </div>
      <%# .card %>
    </div>
    <%# .col %>
  <% end %>
</div>
<%# .row %>