<div class="row">
  <div class="col-12">
    <div class="card user-info">
      <div class="card-header gradient-card-header">
        <h4><%= current_user.name %></h4>
        <p><%= current_user.email %></p>
      </div>
      <div class="card-body">
        <div class="frame-box">
          <span class="frame-title">合計利用料金</span>
          <h4><%= total_charge(current_user) %>円</h4>
        </div>
        <p>通知頻度: <%= current_user.notification_status_i18n %></p>
        <div class="form-footer mb-5">
          <%= link_to edit_user_registration_path, 'data-toggle' => "popover", 'data-content' => "ユーザー編集" ,'data-placement'=> "bottom" , class: "subscription-info btn btn-success detail-info mr-3" do %>
            <%= fa_icon "pencil" ,class: "big" %>
          <% end %>
        </div>
      </div>
      <%# /.card-body %>
    </div>
    <%# /.card %>
  </div>
  <%# /.col %>
</div>
<%# /.row %>