<div class="container">
  <div class="index-box">
    <ul class="nav nav-tabs my-4">
      <li class="nav-item">
        <%= link_to 'ユーザー一覧', users_path(users_page: "true"), class: "nav-link #{params[:users_page] ? 'active' : 'text-dark'}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'サブスクリプション一覧', subscriptions_path(subscs_page: "true"), class: "nav-link #{params[:subscs_page] ? 'active' : 'text-dark'}" %>
      </li>
    </ul>

    <h1>ユーザー一覧</h1>

    <%= link_to 'ユーザー新規登録', new_user_registration_path, class: "btn btn-primary my-3" %>

    <div class="my-4">
      <%= form_tag(users_path, method: 'get',class: "form-inline w-50" ) do %>
        <%= text_field_tag :search ,"",placeholder: "ユーザー名",class: "form-control"%>
        <div class="input-group-append">
          <%= submit_tag '検索', :name => nil, class: "btn btn-outline-secondary ml-2" %>
          <%= link_to 'クリア', users_path, class: "btn btn-outline-secondary ml-2" %>
        </div>
      <% end %>
    </div>

    <div class="mb-4 pb-2 border-bottom">
      <%= link_to 'ID順', users_path(sort_id: "true"), class: "btn btn-outline-secondary #{params[:sort_id] ? 'disabled' : ''}" %>
      <%= link_to '名前順', users_path(sort_name: "true"), class: "btn btn-outline-secondary ml-2 #{params[:sort_name] ? 'disabled' : ''}" %>
      <%= link_to 'メールアドレス順', users_path(sort_email: "true"), class: "btn btn-outline-secondary ml-2 #{params[:sort_charge] ? 'disabled' : ''}" %>
      <%= link_to '管理者のみ', users_path(sort_admin: "true"), class: "btn btn-outline-secondary ml-2 #{params[:sort_date] ? 'disabled' : ''}" %>
      <%= link_to '一般のみ', users_path(sort_general: "true"), class: "btn btn-outline-secondary ml-2 #{params[:sort_date] ? 'disabled' : ''}" %>
    </div>

    <table class="table table-hover">
      <tr>
        <th>ID</th>
        <th>名前</th>
        <th>メールアドレス</th>
        <th>管理権限</th>
        <th id="menu" colspan="3">メニュー</th>
      </tr>

      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.admin %></td>

          <td>
            <%= link_to '詳細', user_path(user.id) ,class: "btn btn-info mr-2" %>
            <%= link_to '編集', edit_user_registration_path	 ,class: "btn btn-success mr-2" %>
            <%# <%= link_to '削除', user_path(user), method: :delete, data: { confirm: '本当に削除してもいいですか?' } ,class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
