<div class="container">
  <div class="show-wrapper pb-5">
    <h1 class="mb-5">ユーザー詳細画面</h1>
    <table class="table table-hover w-50 mb-5">
      <tr>
        <td>ID</td>
        <td><%= @user.id %></td>
      </tr>
      <tr>
        <td>名前</td>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td><%= @user.email %></td>
      </tr>
    </table>
    <div class="form-footer mb-5">
      <%= link_to "編集", edit_user_registration_path, class: "btn btn-success mr-3" %>
      <% if current_user.admin? %>
        <%= link_to "一覧へ戻る", users_path, class: "btn btn-light" %>
      <% end %>
    </div>

    <h2 class="">サブスク一覧</h2>
    <h4>合計利用料金：<%= total_charge %>円</h4>

    <div class="my-4">
      <%= form_tag(user_path, method: 'get',class: "form-inline w-50" ) do %>
        <%= text_field_tag :search ,"",placeholder: "サブスクリプション名",class: "form-control"%>
        <div class="input-group-append">
          <%= submit_tag '検索', :name => nil, class: "btn btn-outline-secondary ml-2" %>
          <%= link_to 'クリア', user_path, class: "btn btn-outline-secondary ml-2" %>
        </div>
      <% end %>
    </div>

    <div class="mb-4 pb-2 border-bottom">
      <%= link_to '名前順', user_path(sort_name: "true"), class: "btn btn-outline-secondary #{params[:sort_name] ? 'disabled' : ''}" %>
      <%= link_to '利用料金順', user_path(sort_charge: "true"), class: "btn btn-outline-secondary ml-2 #{params[:sort_charge] ? 'disabled' : ''}" %>
      <%= link_to '支払日順', user_path(sort_date: "true"), class: "btn btn-outline-secondary ml-2 #{params[:sort_date] ? 'disabled' : ''}" %>
      <%= link_to '未登録のみ', user_path(sort_not_has_detail: "true"), class: "btn btn-outline-secondary ml-2 #{params[:sort_not_has_detail] ? 'disabled' : ''}" %>
    </div>

    <table class="table table-hover mt-3">
      <%= will_paginate @subscriptions,:previous_label => ' &lt 前へ', :next_label => '次へ &gt', :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
      <tr>
        <th id="name">名前</th>
        <th id="icon">アイコン</th>
        <th id="summary">概要</th>
        <th id="category">カテゴリー</th>
        <th id="charge">利用料金</th>
        <th id="due_date">支払日</th>
        <th id="menu" colspan="3">メニュー</th>
      </tr>
      <% @subscriptions.each do |subscription| %>
        <tr>
          <td>
            <%= subscription.name %>
          </td>
          <td>
            <%= subscription.icon %>
          </td>
          <td>
            <%= subscription.summary %>
          </td>
          <td>
            <% subscription.categories.each do |category|%>
              <span class="badge badge-primary p-1"><%= category.name %></span>
            <% end %>
          </td>

          <% @detail = @details.find_by(subscription_id: subscription.id) %>
          <% if @detail %>
            <td>
              <%= @detail.charge %>
            </td>
            <td>
              <%= @detail.due_date %>
            </td>
            <td>
              <%= link_to '詳細', detail_path(subscription_id: subscription.id) ,class: "btn btn-info mr-2" %>
              <%= link_to '詳細編集', edit_detail_path(subscription_id: subscription.id) ,class: "btn btn-success mr-2" %>
              <%= link_to '削除', detail_path(@detail), method: :delete,data: { confirm: '本当に解除してもいいですか?' }, class: "btn btn-danger" %>
            </td>
          <% else %>
            <td>未登録</td>
            <td>未登録</td>
            <td>
              <%= link_to '詳細登録', new_detail_path(subscription_id: subscription.id) ,class: "btn btn-primary mr-2" %>
              <%= link_to '解除', subscription_addition_path(subscription, id: current_user.id), method: :delete,data: { confirm: '本当に解除してもいいですか?' }, class: "btn btn-danger" %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>