<div class="container">
  <div class="show-wrapper pb-5">
    <h1 class="mb-5">ユーザー詳細画面</h1>
    <table class="table table-hover w-50 mb-5">
      <tr>
        <td>ID</td>
        <td><%= @user.id %></td>
      </tr>
      <tr>
        <td>名前</td>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td><%= @user.email %></td>
      </tr>
    </table>
    <div class="form-footer mb-5">
      <%= link_to "編集", edit_user_registration_path, class: "btn btn-success mr-3" %>
    </div>

    <h2 class="">サブスク一覧</h2>
    <h4>合計利用料金：<%= total_charge %>円</h4>
    <table class="table table-hover mt-3">
      <tr>
        <th id="name">名前</th>
        <th id="icon">アイコン</th>
        <th id="summary">概要</th>
        <th id="charge">利用料金</th>
        <th id="due_date">支払日</th>
        <th id="menu" colspan="3">メニュー</th>
      </tr>
      <% @subscriptions.each do |subscription| %>
        <tr>
          <td>
            <%= subscription.name %>
          </td>
          <td>
            <%= subscription.icon %>
          </td>
          <td>
            <%= subscription.summary %>
          </td>

          <% detail = subscription.details.find_by(user_id: current_user.id) %>
          <% if detail %>
            <td>
              <%= detail.charge %>
            </td>
            <td>
              <%= detail.due_date %>
            </td>
            <td>
              <%= link_to '詳細', detail_path(subscription_id: subscription.id) ,class: "btn btn-info mr-2" %>
              <%= link_to '詳細編集', edit_detail_path(subscription_id: subscription.id) ,class: "btn btn-success mr-2" %>
              <%= link_to '解除', subscription_addition_path(subscription, id: current_user.id), method: :delete,data: { confirm: '本当に解除してもいいですか?' }, class: "btn btn-danger" %>
            </td>
          <% else %>
            <td>未登録</td>
            <td>未登録</td>
            <td>
              <%= link_to '詳細登録', new_detail_path(subscription) ,class: "btn btn-primary mr-2" %>
              <%= link_to '解除', subscription_addition_path(subscription, id: current_user.id), method: :delete,data: { confirm: '本当に解除してもいいですか?' }, class: "btn btn-danger" %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>