<div class="container">
  <div class="show-wrapper pb-5">
    <h1 class="mb-5">ユーザー詳細画面</h1>
    <table class="table table-hover w-50 mb-5">
      <tr>
        <td>ID</td>
        <td><%= @user.id %></td>
      </tr>
      <tr>
        <td>名前</td>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td><%= @user.email %></td>
      </tr>
    </table>
    <div class="form-footer mb-5">
      <%= link_to "編集", edit_user_registration_path, class: "btn btn-success mr-3" %>
      <%= link_to "一覧へ戻る", users_path, class: "btn btn-light" %>
    </div>

    <h2 class="">サブスク一覧</h2>
    <table class="table table-hover mt-3">
      <tr>
        <th id="name">名前</th>
        <th id="icon">アイコン</th>
        <th id="summary">概要</th>
        <th id="menu" colspan="3">メニュー</th>
      </tr>
      <% @user.added_subscriptions.each do |subscription| %>
        <tr>
          <td>
            <%= subscription.name %>
          </td>
          <td>
            <%= subscription.icon %>
          </td>
          <td>
            <%= subscription.summary %>
          </td>
          <td>
            <% if %>
            <%= link_to '詳細', detail_path(subscription.id) ,class: "btn btn-info mr-2" %>
            <%# <%= link_to '詳細編集', edit_details_path(subscription.id) ,class: "btn btn-success mr-2" %>
            <%# <% else %>
            <%= link_to '詳細登録', new_detail_path(subscription_id: subscription.id) ,class: "btn btn-info mr-2" %>
            <% end %>
            <%= link_to '解除', subscription_path(subscription), method: :delete, data: { confirm: '本当に削除してもいいですか?' } ,class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </table>
    
    
  </div>
</div>
