<!DOCTYPE html>
<html>
  <head>
    <title>SubscApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="top-body">
      <div class="header">
        header
      </div>
      <div class="top-image">
        top-image
      </div>
      <div class="feature">
        feature
      </div>
      <div class="step">
        step
      </div>
      <div class="footer">
        footer
        <p><%= link_to "TOP", "#" %></p>
      </div>
    </div>
  </body>
</html>

