<div class="row contact-form">
  <div class="col-sm-12 col-md-10 col-lg-7 mx-auto">
    <div class="card card-signin mt-5 mb-3">
      <div class="card-body">
        <h5 class="card-title text-center">お問い合わせフォーム</h5>
        <%= form_with model: @contact, local: true do |f| %>
          <% if @contact.errors.any? %>
            <div id="error_explanation">
              <h2><%= @contact.errors.count %>件のエラーがあります。</h2>
              <ul>
                <% @contact.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-label-group">
            <%= f.text_field :email, placeholder: "返信先メールアドレス ", required: true, class: "form-control mb-4" %>
          </div>
          <div class="form-label-group">
            <%= f.text_field :title, placeholder: "タイトル", required: true, class: "form-control mb-4" %>
          </div>

          <div class="form-label-group mb-2">
            <%= f.text_area :message, placeholder: "問い合わせ内容", required: true, class: "form-control" ,rows: 6 %>
          </div>  
          <div class="row mt-4">
            <div class="col-12">
              <div class="button-panel">
                <%= f.submit "送信する" ,class: "btn btn-lg btn-primary btn-block mt-3" %>
              </div>  
            </div>
          </div>
        <% end %>
      </div>
      <%# .card-body %>
    </div>
    <%# .card %>
  </div>
  <%# .col %>
</div>
<%# .row %>