<div class="container service-form show-page">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 mx-auto mb-3">
      <% if @subscription.errors.any? %>
        <div id="error_explanation">
          <h2><%= @subscription.errors.count %>件のエラーがあります。</h2>
          <ul>
            <% @subscription.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="card p-3">
        <h2 class="form-title">
          <% if params[:id] %>
            サブスクリプション編集
          <% else %>
            サブスクリプション登録
          <% end %>
        </h2>
        <%= form_with model: @subscription, local: true do |f| %>
          <% service = service(@subscription) %>
          <%= f.hidden_field :service_id, value: params[:service_id] %>
          <div class="card-body">
            <div class="row d-flex align-items-center pb-4 border-bottom">
              <div class="col-md-4 ml-4">
                <% if service.icon.present? %>
                  <div class="service-icon">
                    <%= image_tag service.icon.url %>
                  </div>
                <% else %>
                  <div class="no-icon">No-Icon</div>
                <% end %>
              </div>
              <div class="col-md-7">
                <div class="row category">
                  <div class="col-md-12">
                    <% service.categories.each do |category|%>
                      <span class= "badge badge-primary py-1 px-2"><%= category.name %></span>
                    <% end %>
                  </div>
                  <div class="col-md-12">
                    <h3 class="service-title"><%= service.name %></h3>
                  </div>
                </div>
              </div>
            </div>
            <%# .row1 %>

            <div class="row d-flex align-items-center mt-4">
              <div class="col-xs-12 col-md-5">
                <div class="form-label-group">
                  <%= f.number_field :charge, placeholder: "Charge",required: true, class: "form-control" %>
                  <%= f.label :charge %>
                </div>
              </div>
              <div class="col-xs-12 col-md-7">
                <div class="form-label-group">
                  <div class="row d-flex align-items-center">
                    <div class="col-md-4 label-notifiy text-right">
                      <span>支払日</span>
                    </div>
                    <div class="col-md-4 select-box select-plus">
                      <%= f.select :due_date, (1..31).each,placeholder: "due_date", class: "form-control" %>
                    </div>
                    <div class="col-md-1">日</div>
                  </div>
                </div>
              </div>
            </div>
            <%# .row2 %>

            <div class="row my-2">
              <div class="col-12">
                <div class="form-label-group mb-2">
                  <%= f.text_area :note ,placeholder: "備考欄",class: "form-control" ,rows: 5 %>
                </div>  
              </div>
            </div>
            <%# .row3 %>

            <div class="row">
              <div class="col-12">
                <div class="button-panel">
                  <%= f.submit class: "btn btn-lg btn-signin btn-block text-uppercase mt-3" %>
                </div>  
              </div>
            </div>
            <%# .row4 %>
            <div class="row mt-4">
              <div class="col-5">
                <% if params[:id] %>
                  <%= link_to user_path(current_user) ,"data-toggle" => "popover", "data-content" => "一覧へ戻る", class: "btn btn-secondary btn-circle detail-info mr-2" do %>
                    <%= fa_icon "undo" %>
                  <% end %>
                <% else %>
                  <%= link_to services_path ,"data-toggle" => "popover", "data-content" => "一覧へ戻る", class: "btn btn-secondary btn-circle detail-info mr-2" do %>
                    <%= fa_icon "undo" %>
                  <% end %>
                <% end %>
                <% unless service.link %>
                  <%= link_to service.link, target: :blank, "data-toggle" => "popover", "data-content" => "関連リンク", class: "btn btn-link btn-circle detail-info mr-2"  do %>
                    <%= fa_icon "link" %>
                  <% end %>
                <% end %>
              </div>
            </div>
            <%# .row5 %>
          </div>
          <%# .card-body %>
        <% end %>
      </div>
      <%# .card %>
    </div>
    <%# .col %>
  </div>
  <%# .row %>
</div>