<div class="container show-page">
  <div class="row">
    <div class="col-12">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="card p-3">
            <button type="button" class="close text-right" data-dismiss="modal" onfocus="this.blur();">&times;</button>
            <div class="card-body">
              <div class="row">
                <div class="col-md-4 ml-3">
                  <% service = service(@subscription) %>
                  <% if service.icon.present? %>
                    <div class="service-icon">
                      <%= image_tag service.icon.url %>
                    </div>
                  <% else %>
                    <div class="no-icon">No-Icon</div>
                  <% end %>
                </div>
                <div class="col-md-7">
                  <div class="row category">
                    <div class="col-md-12">
                      <% service.categories.each do |category|%>
                        <span class= "badge badge-primary py-1 px-2"><%= category.name %></span>
                      <% end %>
                    </div>
                    <div class="col-md-12">
                      <h3 class="service-title"><%= service.name %></h3>
                    </div>
                  </div>
                </div>
              </div>
              <%# .row1 %>

              <div class="row">
                <div class="col-md-6">
                  <div class="frame-box mb-2 pt-3">
                    <span class="frame-title">利用料金</span>
                    <h5 class="text-center charge-text"><%= @subscription.charge %>円</h5>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="frame-box mb-2 pt-3">
                    <span class="frame-title">支払日</span>
                    <h5 class="text-center due-date-text">毎月 <%= @subscription.due_date %>日</h5>
                  </div>
                </div>
              </div>
              <%# .row2 %>

              <% if @subscription.note.present? %>
                <div class="row">
                  <div class="col-md-12">
                    <div class="frame-box mb-2 pt-3">
                      <span class="frame-title">Note</span>
                      <p class=""><%= @subscription.note %></p>
                    </div>
                  </div>
                </div>
                <% end %>
              <%# .row3 %>

              <div class="row mt-4">
                <div class="col-md-7">
                  <%= link_to user_path(current_user) ,"data-toggle" => "popover", "data-content" => "一覧へ戻る", class: "btn btn-secondary btn-circle detail-info mr-2" do %>
                    <%= fa_icon "undo" %>
                  <% end %>
                  <%= link_to service.link, target: :blank, "data-toggle" => "popover", "data-content" => "関連リンク", class: "btn btn-link btn-circle detail-info mr-2"  do %>
                    <%= fa_icon "link" %>
                  <% end %>
                  <%= link_to edit_subscription_path ,class: "btn btn-success btn-circle mr-2" do %>
                    <%= fa_icon "pencil" %>
                  <% end %>
                </div>
                <div class="col-md-5 text-right">
                  <span  data-toggle="popover", data-content="利用者数" class="detail-info">
                    <%= fa_icon "users" , class: "mr-2" %><%= service.subscriptions.count %>
                  </span>
                  <span class="ml-3">
                    <%= link_to subscription_path(id: get_subscription_id(current_user, service)), method: :delete,"data-toggle" => "popover", "data-content" => "外す", data: { confirm: '本当に外してもいいですか?' } ,class: "btn btn-light btn-circle detail-info" do %>
                      <%= fa_icon "minus" %>
                    <% end %>
                  </span>
                </div>
              </div>
              <%# .row4 %>
            </div>
            <%# .card-body %>
          </div>
          <%# .card %>
        </div>
        <%# .modal-content %>
      </div>
      <%# .modal-dialog %>
    </div>
    <%# .col %>
  </div>
  <%# .row %>
</div>
