<div class="container">
  <div class="index-box">
    <%= link_to 'サブスク新規登録', new_subscription_path, class: "btn btn-primary my-3" %>

    <div class="card mb-4">
      <div class="card-header p-0 pl-2 pt-2">
        <h5>カテゴリー</h5>
      </div>
      <div class="card-body">
        <span><%= link_to 'All', subscriptions_path, class: "badge badge-light py-1 px-2" %></span>
        <% @categories.each do |category| %>
          <span><%= link_to category.name, subscriptions_path(category_id: category.id), class: "badge badge-light py-1 px-2" %></span>
        <% end %>
      </div>
    </div>

    <div class="mb-4">
      <%= form_tag(subscriptions_path, method: 'get',class: "form-inline w-50" ) do %>
        <%= text_field_tag :search ,"",placeholder: "サブスクリプション名",class: "form-control"%>
        <div class="input-group-append">
          <%= submit_tag '検索', :name => nil, class: "btn btn-outline-secondary ml-2" %>
          <%= link_to 'クリア', subscriptions_path, class: "btn btn-outline-secondary ml-2" %>
        </div>
      <% end %>
    </div>

    <%# 要リファクタリング %>
    <div class="mb-4 pb-2 border-bottom">
      <%= link_to '人気順', subscriptions_path(sort_with_rank: "true"), class: "btn btn-outline-secondary #{params[:sort_with_rank] ? 'disabled' : ''}" %>
      <%= link_to '名前順', subscriptions_path(sort_name: "true"), class: "btn btn-outline-secondary ml-2 #{params[:sort_name] ? 'disabled' : ''}" %>
      <%= link_to '利用中のみ', subscriptions_path(sort_status: "true"), class: "btn btn-outline-secondary ml-2 #{params[:sort_status] ? 'disabled' : ''}" %>
    </div>

    <table class="table table-hover">
      <%= will_paginate @subscriptions,:previous_label => ' &lt 前へ', :next_label => '次へ &gt', :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
      <tr>
        <th id="icon">アイコン</th>
        <th id="name">名前</th>
        <th id="summary">概要</th>
        <th id="category">カテゴリー</th>
        <th id="count">利用者数</th>
        <th id="status">利用状況</th>
        <th id="addition">追加</th>
        <th id="menu" colspan="3">メニュー</th>
      </tr>

      <% @subscriptions.each do |subscription| %>
        <tr>
          <% if subscription.icon.present? %>
            <td><%= image_tag subscription.icon.thumb.url %></td>
          <% else %>
            <td><%= subscription.icon %></td>
          <% end %>
          <td><%= subscription.name %></td>
          <td><%= subscription.summary %></td>
          <%# カテゴリー一覧 %>
          <td>
            <% subscription.categories.each do |category|%>
              <%= link_to category.name, subscriptions_path(category_id: category.id), class: "badge badge-primary py-1 px-2" %>
            <% end %>
          </td>
          <%# 利用者数 %>
          <td class="text-center"><%= subscription.additions.count %></td>
          <%# 利用状況 %>
          <td>
            <% if current_user.already_added?(subscription) %>
              利用中
            <% end %>
          </td>
          <%# 追加or解除ボタン %>
          <td>
            <% if current_user.already_added?(subscription) %>
              <%= button_to '解除', subscription_addition_path(subscription, id: current_user.id), method: :delete, class: "btn btn-light" %>
            <% else %>
              <%= button_to '追加', subscription_additions_path(subscription), class: "btn btn-secondary" %>
            <% end %>
          </td>
          <td>
            <%= link_to '詳細', subscription_path(subscription.id) ,class: "btn btn-info mr-2" %>
            <% if current_user.admin? %>
              <%= link_to '編集', edit_subscription_path(subscription.id) ,class: "btn btn-success mr-2" %>
              <%= link_to '削除', subscription_path(subscription), method: :delete, data: { confirm: '本当に削除してもいいですか?' } ,class: "btn btn-danger" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

