<div class="container">
  <%= link_to 'サブスク新規登録', new_subscription_path, class: "btn btn-primary my-3" %>
  <% if current_user.admin? %>
    <%= render 'csv' %>
  <% end %>

  <div class="card mb-4">
    <div class="card-header p-0 pl-2 pt-2">
      <h5>カテゴリー</h5>
    </div>
    <div class="card-body">
      <span><%= link_to 'All', subscriptions_path, class: "badge badge-light py-1 px-2" %></span>
      <% @categories.each do |category| %>
        <span><%= link_to category.name, subscriptions_path(category_id: category.id), class: "badge badge-light py-1 px-2" %></span>
      <% end %>
    </div>
  </div>

  <div class="mb-4">
    <%= form_tag(subscriptions_path, method: 'get',class: "form-inline w-50" ) do %>
      <%= text_field_tag :search ,"",placeholder: "サブスクリプション名",class: "form-control"%>
      <div class="input-group-append">
        <%= submit_tag '検索', :name => nil, class: "btn btn-outline-secondary ml-2" %>
        <%= link_to 'クリア', subscriptions_path, class: "btn btn-outline-secondary ml-2" %>
      </div>
    <% end %>
  </div>

  <div class="mb-4 pb-2 border-bottom">
    <%= link_to '人気順', subscriptions_path(sort_with_rank: "true"), class: "btn btn-outline-secondary #{params[:sort_with_rank] ? 'disabled' : ''}" %>
    <%= link_to '名前順', subscriptions_path(sort_name: "true"), class: "btn btn-outline-secondary ml-2 #{params[:sort_name] ? 'disabled' : ''}" %>
    <%= link_to '利用中のみ', subscriptions_path(sort_status: "true"), class: "btn btn-outline-secondary ml-2 #{params[:sort_status] ? 'disabled' : ''}" %>
  </div>

  <div class="subscriptions">
    <%= paginate @subscriptions %>
    <%= render 'index' %>
  </div>
</div>

