<div class="row">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="card card-signin my-5">
      <div class="card-body">
        <h5 class="card-title text-center">Log In</h5>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin"}) do |f| %>
          <div class="form-label-group">
            <%= f.email_field :email, placeholder: "メールアドレス ", required: true, class: "form-control mb-2" %>
          </div>

          <div class="form-label-group">
            <%= f.password_field :password, placeholder: "パスワード", required: true, class: "form-control mb-2" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="custom-control custom-checkbox mb-3">
              <%= f.check_box :remember_me, class: "custom-control-input" %>
              <%= f.label :remember_me, class: "custom-control-label" %>
            </div>
          <% end %>

          <%= f.submit "Log in", class: "btn btn-lg btn-signin btn-block text-uppercase" %>
          <hr class="my-4">
          <%= link_to user_google_omniauth_authorize_path, class: "btn btn-lg btn-google btn-block text-uppercase" do %>
            <span><%= fa_icon "google" %>　Googleログイン</span>
          <% end %>
        <% end %>
      </div>
      <div class="card-footer">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>