<footer class="footer text-center bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="list-inline">
          <li class="list-inline-item">
            <%= link_to "利用規約", page_path('terms') %>
          </li>
          <li class="list-inline-item">
            <%= link_to "プライバシーポリシー", page_path('privacy') %>
          </li>
          <% if current_user %>
            <li class="list-inline-item">
              <%= link_to "お問い合わせ", new_contact_path %>
            </li>
          <% end %>
          <li class="list-inline-item">
            <%= link_to "ヘルプ", page_path('help') %>
          </li>
        </ul>
      </div>
      <div class="col-lg-12" id="copyright">
        <span>© Copyright 2019 Subsc</span>
      </div>
    </div>
  </div>
  <div id="page-top">
    <%= link_to "#" do %>
    <span class="fa-stack fa-2x">
      <i class="fa fa-chevron-circle-up fa-stack-2x"></i>
    </span>
    <% end %>
  </div>
</footer>