<header class="header container mb-2">
  <nav class="navbar navbar-expand-lg navbar-light">
    <%= link_to "Subsc", root_path, class: "nav-brand nav-link" %>
    
    <button type="button" class="navbar-toggler burger-menu" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
      <%= fa_icon ("bars") , class: "mr-1" %>MENU
    </button>

    <div class="collapse navbar-collapse" id="Navber">
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= active_link_to "マイページ", user_path(current_user.id), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= active_link_to "サービス一覧", services_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= active_link_to "お問い合わせ", new_contact_path, class: "nav-link" %>
          </li>
          <% if current_user.admin? %>
            <li class="nav-item">
              <%= link_to "管理者メニュー", rails_admin_path, class: "nav-link" %>
            </li>
          <% end %>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link", id: "logout-link"  %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= active_link_to "ログイン", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= active_link_to "新規登録", new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Subscとは", root_path(anchor: :feature), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "使い方", root_path(anchor: :step), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= active_link_to "サービス一覧", services_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>