<header class="">
  <nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav text-dark">
      <li class="nav-item" >
        <%= link_to "TOP", root_path, class: "nav-link text-dark" %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item" >
          <%= link_to current_user.email, user_path(current_user.id), class: "nav-link text-dark" %>
        </li>
        <li class="nav-item">
          <%= link_to "サブスクリプション一覧", services_path, class: "nav-link text-dark" %>
        </li>
        <% if current_user.admin? %>
          <li class="nav-item">
            <%= link_to "管理者メニュー", rails_admin_path, class: "nav-link text-dark" %>
          </li>
        <% end %>
        <li class="nav-item">
          <%= link_to "お問い合わせ", new_contact_path, class: "nav-link text-dark" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link text-dark"  %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "ログイン", new_user_session_path, class: "nav-link text-dark"  %>
        </li>
        <li class="nav-item">
          <%= link_to "新規登録", new_user_registration_path, class: "nav-link text-dark"  %>
        </li>
        <li class="nav-item">
          <%= link_to "サブスクリプション一覧", services_path, class: "nav-link text-dark"  %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>