<!DOCTYPE html>
<html>
  <head>
    <title>SubscApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="mb-4">
      <nav class="navbar navbar-expand-sm bg-light">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "親サブスク一覧", subscriptions_path, class: "nav-link" %>
          </li>
        </ul>
      </nav>
    </header>

    <%= yield %>

    <footer class="footer mt-auto py-3 text-center bg-light fixed-bottom">
      <p>subsc_app</p>
    </footer>
  </body>
</html>
