<!DOCTYPE html>
<html>
  <head>
    <title>SubscApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="">
      <nav class="navbar navbar-expand-sm bg-light">
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item" >
              <%= link_to current_user.email, user_path(current_user.id), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "親サブスク一覧", subscriptions_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link"  %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class: "nav-link"  %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", new_user_registration_path, class: "nav-link"  %>
            </li>
          <% end %>
        </ul>
      </nav>
    </header>

    <%# フラッシュメッセージ %>
    <% if notice %>
      <p class="notice alert alert-success text-center" ><%= notice %></p>
    <% elsif alert %>
      <p class="alert alert-denger text-center" ><%= alert %></p>
    <% end %>

    <%= yield %>

    <footer class="footer mt-auto py-3 text-center bg-light fixed-bottom">
      <p>subsc_app</p>
    </footer>
  </body>
</html>
